[submodule "3rdparty/torchtitan"]
	path = 3rdparty/torchtitan
	url = https://github.com/hann-wang/torchtitan
[submodule "3rdparty/adahop"]
	path = 3rdparty/adahop
	url = https://github.com/AMDResearch/AdaHOP.git
	branch = cdna3
